<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flashcardapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SelectSet" />
        <activity android:name=".CreateSet" />
        <activity
            android:name=".createCategory"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".editFlashcardQuestion" />
        <activity android:name=".studyFlashCardQuestion" />
        <activity android:name=".viewFlashCards" />
        <activity android:name=".editCategory" />
        <activity android:name=".createFlashCard" />
        <activity android:name=".deleteSet" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>